@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Muli:400|Open+Sans:400&display=swap");

:root {
  font-size: 13px;
}

$mainBlue: #e1f4f3;
$mainBlack: #474747;
$mainGrey: #706c61;
$mainWhite: #fff;

$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-computer: 992px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.nav-text {
  font-family: "Muli", sans-serif;
  font-size: 12px;
  color: $mainBlack !important;
  padding: 0.25em;
  white-space: nowrap;
  letter-spacing: 1px;
}

.nav-link {
  display: inline-block;
  position: relative;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 3;
    content: "";
    display: block;
    height: 0.5px;
    left: 50%;
    position: absolute;
    background: $mainGrey;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 80%;
    left: 10%;
  }
  &:active:visited {
    width: 80%;
    left: 10%;
    transition: none;
  }
}

.logo-img {
  min-height: 60px !important;
  max-height: 80px !important;
}

.header-container {
  width: 100%;
  overflow: auto;
}

.navbar {
  padding: 0.5rem;
}

.nav-scroll {
  overflow: auto;
  white-space: nowrap !important;
}

.about-section {
  padding: 50px 20px;
  grid-column: 2/3;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
}

@media (min-width: $breakpoint-tablet) {
  .about-wrapper {
    grid-template-columns: 5fr 8fr;
  }
}

@media (max-width: $breakpoint-tablet) {
  .mx-ava {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  .mx-ava {
    margin-left: 2rem;
    margin-right: auto;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 900px) 1fr;
}

.content {
  grid-column: 2/3;
  padding: 40px 20px;
}

.full {
  grid-column: 1/4;
}

.sticky {
  position: fixed;
  top: 0;
}
