@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Muli:400|Open+Sans:300&display=swap");

:root {
  font-size: 12px;
}

$mainBlue: #e1f4f3;
$mainBlack: #474747;
$mainGrey: #706c61;
$mainWhite: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.nav-text {
  font-family: "Muli", sans-serif;
  font-size: 1em;
  color: $mainBlack !important;
  padding: 0.25em;
  white-space: nowrap;
  letter-spacing: 1px;
}

.nav-link {
  display: inline-block;
  position: relative;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 3;
    content: "";
    display: block;
    height: 0.5px;
    left: 50%;
    position: absolute;
    background: $mainGrey;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 80%;
    left: 10%;
  }
  &:active:visited {
    width: 80%;
    left: 10%;
    transition: none;
  }
}

.logo-img {
  min-height: 60px !important;
  max-height: 80px !important;
}

.header-container {
  width: 100%;
  overflow: auto;
}

.navbar {
  padding: 0.5rem;
}
